[Unit]

Description=IP Monitor Pro Telegram Bot

After=network-online.target

Wants=network-online.target



[Service]

Type=simple


ExecStart=/opt/ip-monitor/telegram.sh


WorkingDirectory=/opt/ip-monitor



Restart=always

RestartSec=5



StandardOutput=append:/opt/ip-monitor/logs/telegram.log

StandardError=append:/opt/ip-monitor/logs/telegram.log



[Install]

WantedBy=multi-user.target
